.clear{
	clear:both;
}
.reply-wrap{
	width:98%;
	margin:5px 0px 5px 0px;
	padding:5px;
	clear:both;
}
.reply-from-admin{
	background-color: #f1f1f1;
	display: flex;
}
.reply-wrap .pull-left{
	float:left;
	margin:0px 10px 0px 0px;
	padding:0px;
	width:auto;
}
.reply-wrap .pull-right{
	float:left !important;
	padding:0px;
	margin:0px;
	width:80%;
}
.media .reply-wrap{
	float:left;
	padding:0px;
	margin:0px;
}
.reply-wrap .media-heading{
	padding:0px;
	margin:0px 0px 10px 0px;
	font-size:20px;
}
.media-heading small{
	font-size:12px;
	color:#0073AA;
}
.ap-table{
	background:#FFFFFF; 
	width:100%; 
	padding:10px;
	margin:5px 0px; 
	border:1px solid #ccc;
}
.form-group{
	margin:0px 0px 10px 0px;
}
.form-group label{
	margin-left:0;
	font-size:18px;
}
.ticket-reply .status{
	color:#0073AA;
}
.attachments{
	font-weight:600;
	margin:5px 0px 0px 0px;
}
.attachments img{
	display: inline !important;
}
.form-group input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=tel]{
	margin:5px 0px 5px 0px;
	width:100%;
}
.form-group textarea{
	margin:5px 0px 5px 0px;
	width:100%;
}
.bg-success{
	width:100%;
	padding:10px;
	margin:5px 0px 5px 0px;
	background-color:#FFFFFF;
	color:#205C14;
	border:1px solid #205C14;
	border-radius:4px;
	box-sizing:border-box;
}
.bg-danger{
	width:100%;
	padding:10px;
	margin:5px 0px 5px 0px;
	background-color:#FFFFFF;
	color:#F40404;
	border:1px solid #F40404;
	border-radius:4px;
	box-sizing:border-box;
}
.support-list-table{
	width:100%;
}
.support-search-form-control{
	width:100%;
	border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
	padding: 3px;
}
/* support notice */
.support-notice{
	width:100%;
	position:fixed;
	background-color:#ffaa2b;
	color:#FFF;
	text-align:left;
	margin:0px auto;
	padding:15px 5px;
	box-sizing:border-box;
	z-index:99999999;
}
.support-notice a{
	color:#FFF;
}
.support-notice a:hover{
	color:#FFF;
}
.support-notice-clear{
	width:auto;
	position:absolute;
	top: 8px;
	right:5px;
}
/* support notice */
.st-error{ color:#ff0000; } 
input.st-error{ border:1px solid #ff0000 !important; }
textarea.st-error{ border:1px solid #ff0000 !important; }